{% extends 'layout.html' %}
<!-- Content block  -->
{% block content %}
<!-- Navabar Import -->
{% include './products/components/navbar.html' %}
<!-- Render field helper -->
{% from '_formhelpers.html' import render_field %}
<!-- Content Page -->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="display-5 text-start">Login</div>
      <hr />
    </div>
    <div class="col-md-2"></div>
  </div>
  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        {{ render_field(form.email, class='form-control') }}
        <!-- Password -->
        {{ render_field(form.password, class='form-control') }}
        <!-- Submit -->
        {{ form.submit(class='btn btn-sm btn-primary form-control',
        type='submit') }}
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
{% endblock %}
