{% extends 'layout.html' %}
<!-- Content -->
{% block content %}
<div class="container">
  <div class="row">
    {% from '_formhelpers.html' import render_field %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="text-center h1 text-primary p-2">Login</div>
      <form method="POST" enctype="multipart/form-data">
        {{ render_field(form.email, class='form-control') }} {{
        render_field(form.password, class='form-control') }}
        <input type="submit" value="login" class="btn btn-primary mt-2" />
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
